.form-container {
    margin-top: 50px;
    max-width: 350px;
}

.column {
    float: left;
    width: 35%;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px;
    color: #26303e;
    font-size: 14px;
}

.custom-text {
    color: #26303e;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.error {
    background-color: #d84f4f;
    padding: 10px;
}

.success {
    background-color: #73cc73;
    padding: 10px;
}

.e-custom {
    border-radius: 0;
    height: 80px;
    width: 80px;
    margin-right: 50px;
}

.e-custom:hover,
.e-custom:focus,
.e-custom:active {
    background-color: #bbb5ad;
    color: #fff;
}

.outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-div>span {
    font-size: 12px;
}