body {
    font-family: "Lato", sans-serif;
}

.form-container {
    margin-top: 4%;
    display: flex;
    margin: block 75%;
}

form {
    display: inline-block;
    text-align: left;
    flex-direction: column;
    padding-left: 20%;
    font-size: 14px;
}

.dummy {
    font-size: 2px;
    color: white;
}

.dummy .mat-input-underline {
    background-color: white;
}


/* Clear floats after the columns */

.columnmenu {
    float: left;
    width: 18%;
    padding-right: 2%;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
}

.columnmenu a {
    text-decoration: none;
    color: #626973;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-right: 2%;
    padding-bottom: 2%;
    color: #26303e;
    font-size: 14px;
}

.easy {
    margin-right: 2%;
}

.mat-button-toggle-group {
    height: 20%;
    align-items: center;
}

.mat-button-toggle-group:focus {
    outline: none;
    width: 2%;
}

.custom-text {
    color: #26303e;
    font-weight: bold;
    padding-bottom: 10px;
}

.bttn {
    border: 2px solid black;
    background-color: white;
    margin-right: 2px;
}

.column {
    float: left;
    width: 35%;
    padding-right: 2%x;
    text-align: left;
    font-size: 14px;
}

.column1 {
    float: left;
    width: 20%;
    padding-right: 2%;
    text-align: left;
    font-size: 14px;
}

.column2 {
    float: left;
    width: 40%;
    padding-right: 2%;
    text-align: left;
    font-size: 14px;
}

.column3 {
    float: left;
    width: 30%;
    padding-right: 16%;
    text-align: left;
    font-size: 14px;
}

.error {
    background-color: #d84f4f;
    padding: 2%;
}

.success {
    background-color: #73cc73;
    padding: 2%;
}

.e-custom {
    border-radius: none;
    height: 16%;
    outline: none;
    width: 14%;
    margin-right: 0px;
    color: #b0b4b9;
    align-items: center;
}

.e-custom:hover {
    background-color: #f3f5fc;
    color: #26303e;
}

.e-custom:focus {
    background-color: #f3f5fc;
    color: #26303e;
}

.e-custom:active {
    background-color: #f3f5fc;
    color: #26303e;
}

.outer-div {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-div>span {
    font-size: 12px;
}

mat-button-toggle {
    border: 1px solid #b0b4b9;
    border-radius: 20%;
    margin-left: 2%;
    margin-right: 2%;
    width: 2%;
    height: 8%;
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 14px;
    font-style: bold;
}