body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #26303e;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a:active {
    background-color: #d4d6d9;
}

.sidenav a {
    padding: 6px 8px 30px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    align-items: center;
}

.sidenav a:hover {
    color: #d4d6d9;
}

.outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-div>span {
    font-size: 10px;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 18px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}