body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height:100%;
    width: 6%;
    position: fixed;
    background-color: #26303e;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.sidenav a:active {
    background-color: #d4d6d9;
}

.sidenav a {
    padding-top: 50%;
    padding: 20;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.sidenav a:hover {
    color: #d4d6d9;
}

.outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.outer-div>span {
    font-size: 12px;
    
}




.main {
    margin-left: 6%;
    /* Same as the width of the sidenav */
    font-size: 18px;
    /* Increased text to enable scrolling */
    padding: 1% 5%;
}

@media screen and (max-height: 100%) {
    .sidenav {
        padding-top: 3%;
    }
    .sidenav a {
        font-size: 18px;
    }
}